<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>pusherKey</key>
	<string>d787868a3ec746b05b36</string>
	<key>pusherCluster</key>
	<string>eu</string>
	<key>pusherAppId</key>
	<string>1086517</string>
	<key>pusherAuthEndpoint</key>
	<string>http://localhost:3000/auth</string>
</dict>
</plist>
