<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>pusherKey</key>
	<string>d787868a3ec746b05b36</string>
	<key>pusherCluster</key>
	<string>eu</string>
	<key>pusherAuthEndpoint</key>
	<string></string>
	<key>usersEndpoint</key>
	<string></string>
</dict>
</plist>
