<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>pusherKey</key>
	<string>b107da4fc65ebbd81a0c</string>
	<key>pusherCluster</key>
	<string>eu</string>
	<key>pusherAuthEndpoint</key>
	<string>http://192.168.0.228:3000/api/auth</string>
	<key>usersEndpoint</key>
	<string>http://192.168.0.228:3000/api/users</string>
</dict>
</plist>
