@import '../styles/vars';

$padding: 40px;

.navbar {
  margin: 0 $padding 30px;

  @include small-screen {
    margin: 0 $padding / 2 30px;
  }

  &::before,
  &::after {
    content: '';
    position: absolute;
    top: (52px / 2);
    height: 10px;
    width: 10px;
    border-top: 1px solid var(--foreground);
  }

  &::before {
    left: -$padding;
    border-left: 1px solid var(--foreground);
  }

  &::after {
    right: -$padding;
    border-right: 1px solid var(--foreground);
  }

  @include small-screen {
    &::before {
      left: -$padding / 2;
    }

    &::after {
      right: -$padding / 2;
    }
  }
}

.title {
  font-weight: bold;

  img {
    max-height: none;
    margin-right: 10px;
  }
}

.divider {
  &::before {
    content: '';
    align-self: center;
    height: 1px;
    background-color: var(--foreground);
    flex-grow: 1;
    margin: auto 20px;
  }
}
